html, body {
    height: 100%;
    width: 100%;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after {
    top: inherit;
}

.dt-bottom {
    vertical-align: bottom;
}

.node--internal path {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 2px;
}

.node--leaf g {
    display: none;
}

.node--internal:hover path {
    stroke: #ff0000;
}

div.result_row {
    width: 100%;
}

div.result_row_selected {
    width: 100%;
    background-color: #e4e4ff;
    padding: 4px;
}

.searchButton {
    padding-top: 5px;
    padding-bottom: 5px;
}

.encodeButton {
    padding-top: 5px;
    padding-bottom: 5px;
    font-variant: small-caps;
}

.searchbox {
    padding: 10px;
    height: 36px;
}

.facet {
    margin-bottom: 10px;
}

.facet > .panel > .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.facet > .panel > .panel-body {
    padding: 10px;
}

.facet-histogram {
    height: 20px;
    margin-left: 0px;
}

.facet-slider {
    margin-left: 10px;
}

.facet-textbox {
    font-weight: bold;
    width: 50%;
}

.facet-label {

}

#facets-container {
    padding-top: 10px;
}

#facets-container > div > div {
    margin-bottom: 5px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding-right {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#exTab1 {
    width: 100%;
    padding-top: 10px;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 22px;
  background: #333;
  color: #ddd;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.grow {
    /* http://stackoverflow.com/questions/27441404/text-div-expand-on-hover-with-css */
    height: 30px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}
.grow:hover {
    height: 100%;
}

#searchresults_table {
    width: 100% !important;
}

#searchresults_table > tbody > tr:hover > td,
#searchresults_table > tbody > tr:hover > th {
    background-color: #F5B041;
    cursor: pointer;
    cursor: hand;
}

#searchresults_table > tbody > tr > td{
    vertical-align: middle;
}

#redetails {
    width: 100%;
}

#redetails h3 {
    font-size: 16px;
    font-weight: bold;
}

#detailsLeftArrow {
    float: left;
    font-size: 30px;
    padding-right: 10px;
}

.cart > img {
    width: 36px;
    height: 36px;
}

#shoppingcart_obj {
    width: 35px;
    height: 35px;
}

.rowCart {
    width: 48px;
    height: 48px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#compareInWashU {
    margin: 10px;
}

select.ui-toggle-switch { display: none; }
.ui-toggle-switch, .ui-toggle-switch .ui-slider, .ui-toggle-switch label { display: inline-block; *display: inline; zoom: 1; }
.ui-toggle-switch label { margin: 0 8px; font-weight: bold; background: none; border: 0; opacity: 0.5; filter: alpha(opacity=50); }
.ui-toggle-switch label:first-child { margin-left: 0; }
.ui-toggle-switch label.ui-state-active { opacity: 1; filter: alpha(opacity=100); }
.ui-toggle-switch .ui-slider { margin: 0 8px; }

.loading {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

/* datatables */
.pagination {
    margin: 0px!important;
}

.pagination > li > a {
    padding: 2px; /* button padding */
    padding-left: 4px;
    padding-right: 4px;
}

.table {
    margin-bottom: 4px;
}

.dataTables_filter {
    float: right;
}

.tableInfo {
    float: right;
    margin-top: -25px;
    padding-right: 50px;
}

.browserForm {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.mainSearchTable tbody tr {
    cursor: pointer;
}
.mainSearchTable tbody > tr:hover {
    background-color: #FAD7A0;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* de bars */
.bar1 {
    fill: steelblue;
    opacity: 0.5;
}
.ylabel {
    font-size: 12px;
}

.deTitleTable {
    width: 50%;
}

.deGene {
    font-size: 18px;
    font-style: italic;
}

.deSubtitle {
    font-size: 12px;
    font-style: italic;
}

.deCT {
    font-size: 16px;
    font-style: bold;
}

.deVS {
    font-size: 10px;
}

.nowrap {
    white-space: nowrap;
}

.panel-body thead > tr > th.dt-right {
    white-space: nowrap;
}

/* for main page */
#mainTitle {
   text-align: center;
   font-size: 32px;
   font-style: bold;
}

#mainDesc {
    background-color: #FFEBC8;
    font-size: 14px;
    padding: 30px;
 }

#mainButtonGroup{
  text-align: center;
}

#mainSearchbox {
    padding: 10px;
    height: 35px;
    width: 50%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.intersectionTable tbody tr {
    cursor: pointer;
}
.intersectionTable tbody > tr:hover {
    background-color: #FAD7A0;
}

table tr td.minipeak {
    vertical-align: middle;
}

.mainLogo {
    max-width: 90%;
}

/* from  http://stackoverflow.com/a/20150691 */
.container-table {
    display: table;
    height: 100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#root {
    height: 100%;
}

.mainPageErr {
    color : #ff0000;
    font-weight : bold;
}

.mainButtonHg19 {
    background-color: #1034a4;
    border-color: #1034a4;
}

.mainButtonHg19:hover {
    background-color: #34a410;
    border-color: #34a410;
}

.mainButtonMm10 {
    background-color: #A41034;
    border-color: #A41034;
}

.mainButtonMm10:hover {
    background-color: #34a410;
    border-color: #34a410;
}

.mainButtonGwas {
    background-color: #1034a4;
    border-color: #1034a4;
}

.mainButtonGwas:hover {
    background-color: #34a410;
    border-color: #34a410;
}

.creCtcfLike {
    color: #00B0F0;
    background-color: #00B0F0;
}
.creEnhancerLike {
    color: #FFCD00;
    background-color: #FFCD00;
}
.crePromoterLike {
    color: #FF0000;
    background-color: #FF0000;
}

.nav-tabs > li > a span {
    display: table-cell;
    vertical-align: middle;
}

#mainTabs > .nav-pills > li.active > a{
    background-color: #1034a4;
}

table.dataTable thead th.dt-head-center {
    text-align: center;
    vertical-align: bottom;
}
table.dataTable tbody td.dt-body-center {
    text-align: center;
}

table.dataTable thead th {
    vertical-align: top;
}

.geTissueOfOrigin {
    padding-top: 20px;
    display: block;
    text-indent: 90px;
    font-weight: bold;
}

div.dataTables_wrapper div.dataTables_paginate {
    text-align: left;
}

.interpretation {
    background-color: #ffa588;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.searchTableNotes {
    padding-top: 6px;
}

.searchTableNotes.div {
    padding-bottom: 6px;
}

.searchTableNotesUl {
    padding-left: 0px;
}

.searchTableNotesUl li {
    border: none;
    padding-left: 0px;
    padding-bottom: 0px;
}

.detailsTabTitle {
    padding: 0px;
    font-size: 10pt;
}

.detailsTabTitle a {
    padding: 6px !important;
}

/* tool tips */
.popover-div {
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
    max-width: 500px;
}

.popover-title {
    color: "#000000";
}
.popover-content {
    color: "#000000";
}
.tooltipIcon {
    margin-left: 5px;
}

.rampageGeneName {
}
.rampageEnsemblidVer {
}
.rampageTss {
}
.rampageCoord {
}

.creDetailsTitle {
    display: inline-block;
}

/* ribbon from http://stackoverflow.com/a/36640360 */
.mt-element-ribbon .ribbon.ribbon-shadow.ribbon-right, .mt-element-ribbon .ribbon.ribbon-shadow.ribbon-vertical-right {
    box-shadow: -2px 2px 7px rgba(0,0,0,.4);
}
.mt-element-ribbon .ribbon.ribbon-color-danger {
    background-color: #ed6b75;
    color: #fff;
}
.mt-element-ribbon .ribbon.ribbon-shadow {
    box-shadow: 2px 2px 7px rgba(0,0,0,.4);
}
.mt-element-ribbon .ribbon.ribbon-right {
    left: auto;
    right: 0px;
}
.mt-element-ribbon .ribbon {
    position: absolute;
    top: 20px;
	left:7px;
    padding: .5em 1em;
    z-index: 5;
}
.mt-element-ribbon .ribbon, .mt-element-ribbon .ribbon.ribbon-color-default, .mt-element-ribbon .ribbon.ribbon-color-default>.ribbon-sub, .mt-element-ribbon .ribbon>.ribbon-sub {
    background-color: #bac3d0;
    color: #384353;
}
.uppercase {
    text-transform: uppercase!important;
}

.legendPanel {
    padding: 10px;
}
.legendPanelFooter {
    padding: 6px;
    padding-top: 8px;
    padding-bottom: 4px;
}

.gwasStudyContainer {
    width: 100%;
    padding: 0px;
}

.concordantStar {
    color: blue;
}

.genomeCreDetailsTitle {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.rangeTitle {
    font-weight: bold;
}

.rangeInnerBox {
    text-align: center;
    padding-top: 10px;
}

.rangeInputTextBox {
    text-align: center;
    width: 40%;
    position: relative;
    font-weight: bold;
}

/* from http://jimmybonney.com/articles/column_header_rotation_css/ */
.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}

table-sort::after {
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    top: 6px;
    right: 6px;
    top: inherit;
    opacity: 0.2;
    content: "\e150";
}

table-sort-asc::after {
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    top: 6px;
    right: 6px;
    top: inherit;
    content: "\e155";
}

table-sort-desc::after {
    box-sizing: border-box;
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    top: 6px;
    right: 6px;
    top: inherit;
    content: "\e156";
}

.y-grid .tick{
    stroke: #4b5f87;
    opacity: 0.3;
}
.axis{
    opacity: 1;
}
.search{
    padding-left:115px;

}
.chkbox{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-style: solid;
}

.sliderBar {
    height: 18px;
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
    direction: ltr;
}
.sliderBase {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.sliderLeft {
    width: 34px;
    height: 28px;
    top: -6px;
    z-index: 5;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    position: relative;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
    float: left;
}
.sliderConnect {
    background: #3FB8AF;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    box-shadow: inset 0 0 3px rgba(51,51,51,.45);
    box-sizing: border-box;
}
.sliderRight {
    width: 34px;
    height: 28px;
    top: -6px;
    z-index: 4;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    position: relative;
    box-sizing: border-box;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.react-autosuggest__input_index {
    width: 50%;
}
.react-autosuggest__suggestions-container_index {
    width: 50%;
    margin: 0 auto;
}
.react-autosuggest__suggestions-container--open_index{
}

.react-autosuggest__input_navbar {
    width: 500px;
    color: black;
    height: 32px;
}
.react-autosuggest__suggestions-container_navbar {
    margin: 0 auto;
}
.react-autosuggest__suggestions-container--open_navbar{
}
.react-autosuggest__container--open_navbar {
z-index: 1000;
}


.react-autosuggest__suggestions-list {
list-style: none;
border: 1px solid black;
}

nav.navbar {
    height: 50px;
    margin-bottom: 0px;
}

nav.navbar > div {
    margin: 0px;
}

/* encode button */
nav > div > ul > li:nth-child(3) > a {
    padding-top: 4px;
}
nav > div > ul.nav.navbar-nav.navbar-right > li:nth-child(2) > a {
    padding-top: 6px;
   height: 50px;
}

nav > div > ul > li:nth-child(2) > a {
   padding-top: 9px;
}
nav > div > ul:nth-child(2){
   height: 50px;
}

nav > div > ul > li:nth-child(1) > a {
   padding-top: 9px;
}
nav > div > ul.nav.navbar-nav.navbar-right {
   height: 50px;
}

nav > div > ul > li:nth-child(1) > a > div > button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
