{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}
{{ hh.js("/static/common.js") }}
{{ hh.js("/static/elasticsearch/core.js") }}

<div class="container" style="width:100%">
  <div class="row" style="width:100%">

    <div class="col-md-12 nopadding-left">

      <div id="exTab1" class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_summary" data-toggle="tab">
	      Summary
	    </a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="tab_summary">
	    <button type="button" id="compareInWashU" class="btn btn-success">
	      Compare in WashU
	    </button>
            <div id="searchresults">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var WebSocketUrl = {{ webSocketUrl }};
  var CartReAccessions = {{ reAccessions }};
  var CartGuid = "{{ uuid }}";

</script>

{{ hh.js("/static/search.table.js") }}
{{ hh.js("/static/re_cart.init.js") }}
{{ hh.js("/static/re_cart.browser.js") }}

<script>
  
  $( document ).ready(function() {
  setupSocket(perform_search);
  setupCartBrowser();
  });
  
</script>

{% include '_footer.html' -%}
