{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
  var REjsonIndex = "{{ re_json_index }}";
  var INITIAL_ACCLIST = {{ reAccessions }};
  var CartGuid = "{{ uuid }}";
  var GlobalCellTypes = {{ globalCellTypes }};
</script>

<div class="container" style="width:100%">
  <div class="row" style="width:100%">
    <div class="col-md-12 nopadding-left" id="tabs-container-cart">
    </div>
  </div>
</div>

<!--
      <div id="exTab1" class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_summary" data-toggle="tab">
	      Summary
	    </a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="tab_summary">
	    <button type="button" id="compareInWashU" class="btn btn-success">
	      Compare in WashU
	    </button>
            <div id="searchresults">
            </div>
          </div>

        </div>
      </div>

-->

{% include '_footer.html' -%}
