{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
  var REjsonIndex = "{{ re_json_index }}";
  var INITIAL_ACCLIST = {{ reAccessions }};
  var CartGuid = "{{ uuid }}";
  var GlobalCellTypes = {{ globalCellTypes }};
  var GlobalTfs = {{ globalTfs }};
  var GlobalParsedQuery = {accessions: INITIAL_ACCLIST};
</script>

<div id="root"></div>

{% include '_footer.html' -%}
