{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container text-center">
    <br>
    <img class="img-responsive center-block" src="https://www.encodeproject.org/images/c45f4d8c-0340-4fcb-abe3-e4ff0bb919be/@@download/attachment/EncodeDatatypes2013-7.png" alt="ENCODE logo">
    <br>
    <form action="search" method="get" id="searchform">
      <input class="searchbox" type="text" size="125" name="q" id="queryBox" value="HeLa-S3 chr14:35792756-35819812">
      <a class="btn btn-primary btn-lg" href="javascript:searchform.submit();" role="button">Search</a>
    </form>
    <br>
    <i>Examples: "HepG2 dnase chrX:123-456", "Liver RSXXXX", "Sox4 enhancer", "Sox4"</i>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
  </div>

  <hr>

  <footer>
    <p>&copy; </p>
  </footer>
</div> <!-- /container -->

{{ hh.jsVer(version, "static/common.js") }}
<script>
  var WebSocketUrl = {{ webSocketUrl }};
  FBVERSION.init("/{{version}}");
</script>

{{ hh.jsVer(version, "static/elasticsearch/core.js") }}
{{ hh.jsVer(version, "static/controls/autocomplete.js") }}
{{ hh.jsVer(version, "static/index.init.js") }}

<script>
  setupSocket();
  bind_autocomplete_textbox("queryBox", request_suggestions);
</script>

{% include '_footer.html' -%}
