{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}

<script>
  function searchHg19() {
  $("#searchformassembly").attr("value", "hg19")
  $("#searchform").submit();
  }

  function searchMm10() {
  $("#searchformassembly").attr("value", "mm10")
  $("#searchform").submit();
  }
</script>

<div id="root"></div>

<div id="footer">
  <center>
    &copy; 2017 Weng Lab @ UMass Med, ENCODE Data Analysis Center
  </center>
</div>

{{ hh.js("/static/common.js") }}
{{ hh.js("/static/controls/autocomplete.js") }}
{{ hh.js("/static/index.init.js") }}

<script>
  bind_autocomplete_textbox("mainSearchbox", request_suggestions);
</script>


{% include '_footer.html' -%}
