{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}
{{ hh.cssVer(version, "static/controls/histogram.css") }}
{{ hh.cssVer(version, "static/controls/range_slider.css") }}
{{ hh.cssVer(version, "static/controls/heatmap.css") }}
{{ hh.cssVer(version, "static/controls/venn_diagram.css") }}

<div class="container" style="width:100%">
  <!-- Example row of columns -->
  <div class="row" style="width:100%">
    <div class="col-md-3" id="facets-container">

      <br>
      {% for facet in facetlist -%}
      {{ hh.facetbox(facet) }}
      {% endfor -%}

      {% include '_ranks_facetbox.html' -%}

    </div>
    <div class="col-md-9">

      <div id="exTab1" class="container" style="width:100%">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_results" data-toggle="tab">results</a>
          </li>
          <li><a href="#tab_expression" data-toggle="tab">nearby gene expression</a>
          </li>
	  <li><a href="#tab_venn" data-toggle="tab">rank venn diagrams</a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="tab_results">
            <div id="searchresults_div">
            </div>
            <div class="col-md-3" id="heatmap_container">
              <select id="heatmap_dropdown">
                {% for rank in ranklist -%}
                <option value="{{rank.id}}">{{rank.name}}</option>
                {% endfor -%}
              </select>
              <div style="width:100%" id="rank_heatmap">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab_expression">
            <div id="expression_heatmap_container">
              <div style="width:100%" id="expression_heatmap">
              </div>
            </div>
          </div>

	  <div class="tab-pane" id="tab_venn">
	    <select id="cell_line_dropdown" onchange="javascript:refresh_venn();"></select>
	    <select id="vennrank_dropdown" onchange="javascript:refresh_venn();">
	      <option value="promoter">promoter</option>
	      <option value="enhancer">enhancer</option>
	      <option value="ctcf">ctcf</option>
	      <option value="dnase">dnase</option>
	    </select>
	    <p>Choose the rank ranges to display in the diagram.
	    <p>Ranks below the lower bound in both cell lines populate the overlap region; ranks above the upper bound in either cell line are excluded from the diagram.
	    <input type="text" id="venn_range_textbox" value="10000 - 40000">
	    <div style="width:50%" id="venn_range_slider">
            <div style="width:1000px;height:1000px" class="venn" id="venn_div">
            </div>
	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="venntooltip" class="venntooltip">
</div>
<div id="tooltip" class="hidden">
  <p><span id="value"></p>
</div>

{{ hh.jsVer(version, "static/common.js") }}
<script>
  var WebSocketUrl = {{ webSocketUrl }};
  var ParsedQuery = {{ parsed }};
  var FacetList = {{ facetlist_json }};
  var RankList = {{ ranklist_json }}
  FBVERSION.init("/{{version}}");
</script>
{{ hh.jsVer(version, "static/_regelm_details.init.js") }}
{{ hh.jsVer(version, "static/search.init.js") }}
{{ hh.jsVer(version, "static/elasticsearch/core.js") }}
{{ hh.jsVer(version, "static/constants/hg19.js") }}
{{ hh.jsVer(version, "static/search.results.js") }}
{{ hh.jsVer(version, "static/search.table.js") }}
{{ hh.jsVer(version, "static/controls/range_slider.js") }}
{{ hh.jsVer(version, "static/controls/histogram.js") }}
{{ hh.jsVer(version, "static/controls/d3_heatmap.js") }}
{{ hh.jsVer(version, "static/controls/venn_diagram.js") }}
{{ hh.jsVer(version, "static/search.setup.js") }}

<script>
$( document ).ready(function() {
  setupSocket(play, ParsedQuery);
});
</script>

{% include '_footer.html' -%}
