{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}
{{ hh.cssVer(version, "static/controls/histogram.css") }}
{{ hh.cssVer(version, "static/controls/range_slider.css") }}
{{ hh.cssVer(version, "static/controls/heatmap.css") }}

<script>{% include 'test_els.init.js' -%}</script>

<script src="/ver4/search/static/client.js"></script>
<script src="/ver4/search/static/elasticsearch/core.js"></script>
<script src="/ver4/search/static/constants/hg19.js"></script>
<script src="/ver4/search/static/searchresults.js"></script>
<script src="/ver4/search/static/controls/range_slider.js"></script>
<script src="/ver4/search/static/controls/histogram.js"></script>
<script src="/ver4/search/static/controls/d3_heatmap.js"></script>

<div class="container" style="width:100%">
  <br><br>
  <!-- Example row of columns -->
  <div class="row" style="width:100%">
    <div class="col-md-3" id="facets-container">

      <br>
      {% for facet in facetlist -%}
      {{hh.facetbox(facet)}}
      {% endfor -%}
      {% include '_ranks_facetbox.html' -%}

    </div>
    <div class="col-md-9">

      <div id="exTab1" class="container" style="width:100%">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_results" data-toggle="tab">results</a>
          </li>
          <li><a href="#tab_expression" data-toggle="tab">nearby gene expression</a>
          </li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="tab_results">
            <div id="searchresults_div">
              <table id="searchresults_table">
                <thead>
                  <tr>
                    {% for tc in tableCols -%}
                    <th>{{tc-}}</th>
                    {% endfor -%}
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    {% for tc in tableCols -%}
                    <th>{{tc-}}</th>
                    {% endfor -%}
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="col-md-3" id="heatmap_container">
              <select id="heatmap_dropdown">
                {% for rank in ranklist -%}
                <option value="{{rank.id}}">{{rank.name}}</option>
                {% endfor -%}
              </select>
              <div style="width:100%" id="rank_heatmap">
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab_expression">
            <div id="tooltip" class="hidden">
              <p><span id="value"></p>
            </div>
            <div id="expression_heatmap_container">
              <div style="width:100%" id="expression_heatmap">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>{% include 'test_els.setup.js' -%}</script>

<script>$( document ).ready(function() {
  setupSocket(play, {{parsed}});
  });
</script>

{% include '_footer.html' -%}
