{% include '_header.html' -%}
{% import 'Helpers/_helpers.html' as hh -%}

<script type="text/javascript">
  var webSocketUrl = "ws://127.0.0.1:9000";

  function socket_message_handler(e) {
      results = JSON.parse(e.data);
      for (for aggname in results["aggs"]) {
          if (results["aggs"][aggname]["type"] == "list") {
              process_agglist(aggname, results["aggs"][aggname]);
          } elseif (results["aggs"][aggname]["type"] == "histogramp") {
              process_histogram_result(aggname, results["aggs"][aggname]);
          }
      }
  }
  
</script>

<script src="/ver4/search/static/client.js"></script>
<script src="/ver4/search/static/elasticsearch/core.js"></script>
<script src="/ver4/search/static/constants/hg19.js"></script>
<script src="/ver4/search/static/controls/range_slider.js"></script>

<div class="container" style="width:100%">
  <br><br>
  <!-- Example row of columns -->
  <div class="row" style="width:100%">
    <div class="col-md-2" id="facets-container">

      <br>
      {% for facet in facetlist -%}
      {{hh.facetbox(facet)}}
      {% endfor -%}
      
    </div>
    <div class="col-md-10">
      <h2>Results</h2>
      <button onclick='play();'>Construct base results</button>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript">
  
  function update_coordinate_filter()
  {
      var coordinates = document.getElementById("coordinates_textbox").value.split(" - ");
      searchquery.set_coordinate_filter("chr1", coordinates[0], coordinates[1]);
      sendText(JSON.stringify(searchquery.eso));
  }
  
  create_range_slider("coordinates_range_slider", chromosome_lengths["chr1"], document.getElementById("coordinates_textbox"), update_coordinate_filter);
  
</script>

{% include '_footer.html' -%}
