{% import 'Helpers/_helpers.html' as hh -%}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"><!-- for persona -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if page.meta -%}
    {% for k, v in page.meta.iteritems() %}
    <meta name="{{k}}" content="{{v}}">
    {%- endfor -%}
    {% endif %}

    {{ hh.js("//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") }}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js" integrity="sha256-QsTkmZQ6VfrSolY5ZDK+yl/PelVUrMoxCOcoNxhoQc8=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css" integrity="sha256-tw03Ka2ZwZCvz4XCrr6bZ+vooG4OKShABE6dtTYbDcc=" crossorigin="anonymous" />

    {{ hh.css("/static/css.css") }}
    
    <script type="text/javascript">
      var HOMEPAGE = {
         "url": "/",
         "title": "Candidate RE Viz (beta version)"
      };
      var GlobalSessionUid = "{{ globalSessionUid }}";
      var GlobalTfs = {{ globalTfs }}; 
      var GlobalCellTypes = {{ globalCellTypes }};
    </script>

  </head>
  <body>
