{% import 'Helpers/_helpers.html' as hh -%}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"><!-- for persona -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if page.meta -%}
    {% for k, v in page.meta.iteritems() %}
    <meta name="{{k}}" content="{{v}}">
    {%- endfor -%}
    {% endif %}

    {{ hh.Link(version, "static/favicon.png") }}

    {{ hh.js("//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") }}
    {{ hh.css("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css") }}
    {{ hh.js("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js") }}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- Load c3 -->
    {{ hh.js("https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js") }}
    {{ hh.cssVer(version, "static/c3-0.4.10/c3.min.css") }}
    {{ hh.jsVer(version, "static/c3-0.4.10/c3.min.js") }}
    {{ hh.jsVer(version, "static/jquery.lazyload.min-1.9.5.js") }}
    {{ hh.jsVer(version, "static/jquery.appear.js") }}
    
    {{ hh.jsVer(version, "static/common.js") }}
    {{ hh.jsVer(version, "static/auth.js") }}

    <style>
      html, body { height: 100% }
    </style>

  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better play -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{ hh.Href(version, "", "Regulatory Element Visualizer", "navbar-brand") }}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class={{ hh.IsActiveMatch("human", page.species) }}>{{ hh.Href(page.humanVersion, "", "human") }}</li>
            <li class={{ hh.IsActiveMatch("mouse", page.species) }}>{{ hh.Href(page.mouseVersion, "", "mouse") }}</li>
          </ul>

          <ul class="nav navbar-nav pull-right">

	    <li class=""><a href="http://umassmed.edu/" style="padding:0px;">{{ hh.Img(version, "static/umassmed.small.png", "umass logo") }}</a></li>
	    <li class=""><a href="http://encodeproject.org" style="padding:0px;">{{ hh.Img(version, "static/ENCODE_logo.small.png", "ENCODE logo")}}</a></li>

          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
