{% import 'Helpers/_helpers.html' as hh -%}

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>{{ page.title }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"><!-- for persona -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- if page.meta -%}
    {% for k, v in page.meta.iteritems() %}
    <meta name="{{k}}" content="{{v}}">
    {%- endfor -%}
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha256-iaFenEC8axSAnyNu6M0+0epCOTwfbKVceFXNd5s/ki4=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.js" integrity="sha256-QsTkmZQ6VfrSolY5ZDK+yl/PelVUrMoxCOcoNxhoQc8=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css" integrity="sha256-tw03Ka2ZwZCvz4XCrr6bZ+vooG4OKShABE6dtTYbDcc=" crossorigin="anonymous" />

    {{ hh.css("/static/css.css") }}
    
    <script type="text/javascript">
      var HOMEPAGE = {
         "url": "/",
         "title": "Candidate RE Viz (beta version)"
      };
      var GlobalSessionUid = "{{ globalSessionUid }}";
      var GlobalTfs = {{ globalTfs }}; 
      var GlobalCellTypes = {{ globalCellTypes }};
    </script>

  </head>
  <body>
