'<div class="panel-group facet" id="tss_facet_panel">
  <div class="panel panel-primary">
    <div class="panel-heading">Distance to Genes</div>
    <div class="panel-body" id="tss_filter_container">
      {% for tss_set in tsslist -%}
      <p>
	<label for="{{tss_set['id']}}_textbox">{{tss_set['name']}}:</label>
	<input type="text" id="{{tss_set['id']}}_textbox" style="border:1;font-weight:bold;">
      </p>
      <div class="facet-histogram" id="{{tss_set['id']}}_histogram"></div>
      <div class="facet-slider" id="{{tss_set['id']}}_range_slider"></div><br>
      {% endfor -%}
    </div>
  </div>
</div>
