.hexaxis text
{
    font: 10px sans-serif;
}

.hexaxis path,
.hexaxis line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hexagon
{
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}