html, body {
    height: 100%
}

.jumbotron {
    padding-top: 48px;
    padding-bottom: 18px;
}

div.result_row {
    width: 100%;
}

div.result_row_selected {
    width: 100%;
    background-color: #e4e4ff;
    padding: 4px;
}

.searchbox {
    padding: 10px;
}

#mainNavBar {
    margin-bottom: 0px;
}

.jumbotron {
    padding-top: 0px;
}

.facet {
    margin-bottom: 10px;
}

.facet > .panel > .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.facet > .panel > .panel-body {
    padding: 10px;
}

.facet-histogram {
    height: 20px;
    margin-left: 0px;
}

.facet-slider {
    margin-left: 10px;
}

.facet-textbox {
    font-weight: bold;
    width: 50%;
}

.facet-label {

}