html, body {
    height: 100%
}

.jumbotron {
    padding-top: 48px;
    padding-bottom: 18px;
}

div.result_row {
    width: 100%;
}

div.result_row_selected {
    width: 100%;
    background-color: #e4e4ff;
    padding: 4px;
}

.searchbox {
    padding: 10px;
}

#mainNavBar {
    margin-bottom: 0px;
}

.jumbotron {
    padding-top: 0px;
}

.facet {
    margin-bottom: 10px;
}

.facet > .panel > .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.facet > .panel > .panel-body {
    padding: 10px;
}

.facet-histogram {
    height: 20px;
    margin-left: 0px;
}

.facet-slider {
    margin-left: 10px;
}

.facet-textbox {
    font-weight: bold;
    width: 50%;
}

.facet-label {

}

#facets-container {
    padding-top: 10px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.nopadding-right {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

#exTab1 {
    width: 100%;
    padding-top: 10px;
}

.grow {
    /* http://stackoverflow.com/questions/27441404/text-div-expand-on-hover-with-css */
    height: 30px;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
}
.grow:hover {
    height: 100%;
}

#searchresults_table {
    width: 100% !important;
}